.btn-outline-transparent{
    background-color: red!important;
    border-radius: 20px;
    font-size: 20px;
    padding: 10px;
}

.btn-outline-danger{
margin-top: 43px;
}
/*Button Start*/
/*
 * Made by Erik Terwan
 * 24th of November 2015
 * MIT license
 *
 *
 * If you are thinking of using this in
 * production code, beware of the browser
 * prefixes.
 */

body
{
    margin: 0;
    padding: 0;

    /* make it look decent enough */
    background: #232323;
    color: #cdcdcd;
    font-family: "Avenir Next", "Avenir", sans-serif;

    overflow-x: hidden; /* needed because hiding the menu on the right side is not perfect,  */
}

a
{
    text-decoration: none;
    color: #232323;

    transition: color 0.3s ease;
}

a:hover
{
    color: tomato;
}

#menuToggle
{
    display: block;
    position: absolute;
    top: 50px;
    right: 50px;

    z-index: 1;

    -webkit-user-select: none;
    user-select: none;
}

#menuToggle input
{
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;

    cursor: pointer;

    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */

    -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: #cdcdcd;
    border-radius: 3px;

    z-index: 1;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    opacity 0.55s ease;
}

#menuToggle span:first-child
{
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
    transform-origin: 0% 100%;
}

/*
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
    opacity: 1;
    transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
    position: absolute;
    width: 1000px;
    margin: -105px 0 0 0;
    padding: 60px;
    right: -50px;

    background:transparent;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */

    transform-origin: 0% 0%;
    transform: translate(100%, 0);

    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
    padding: 10px 0;
    font-size: 22px;
    float: right;
    margin-right: 45px;
    margin-left: 25px;
}

/*
 * And let's fade it in from the left
 */
#menuToggle input:checked ~ ul
{
    transform: scale(1.0, 1.0);
    opacity: 1;
}

/*Button End*/
#aboutpart{
    background-color: white;
}

.abtme{
    font-family: 'Pacifico', cursive;
}
.abtt{
    font-family: 'Lobster', cursive;
    font-size: 130%;
}
.fas{
    background-color: transparent;
}
.dropdown-menu{
    border-radius: 20px;
    background-color: transparent;
}
.navbar-brand{
    font-size:30px;

}


.nav_bar{
    background-color:#000;
    float: right;
}
.foysals{
    font-family:'Source Sans Pro';
    font-size: 40px!important;
}
.text{
    font-family:sans-serif;
    margin-top: 260px;
}
#textpart{
    background-color:#000000;
    min-height:850px;
    background-size: cover;
    background-repeat: no-repeat;

}
.hiam{
    color: red;
    font-family: 'Source Sans Pro';
    font-size: 50px;
    margin-bottom: 120px;



}
.foyahm{
    color: white;
    font-family: 'Source Sans Pro';
    font-size: 65px;
    margin-top: -130px;
    margin-bottom: 100px;

}
.foysal{
    color: white;
    font-family: 'Source Sans Pro';
    font-size: 50px;
    position: absolute;
    margin-top: -80px;

}
.fa-500px{
    font-size: 50px;
    color: black;
}
.fa-modx{
    font-size: 50px;
    color: black;
}
.fa-paper-plane{
    font-size: 50px;
    color: black;
}
.fa-facebook-f{
    font-size: 30px;
    color:#3D5997
}
.fa-twitter{
    font-size: 30px;
    color: #22A0F2;
}
.fa-linkedin-in{
    font-size: 30px;
    color: #06649A;
}
.fa-instagram{
    font-size: 30px;
    color: #B43A8A;
}
.img{
    margin-top: 100px;
    height: 600px;
}
#skill{
    background-color: rgba(0,0,0,0.9);
    min-height: 500px;
}
.one{
    background-color: blue;

}
.two{
    background-color: blue;
}
.three{
    background-color: blue;
}
.four{
    background-color: blue;
}
.five{
    background-color: blue;
}
.six{
    background-color: blue;
}
.html{
    font-size: 15px;
}
.Wordpress{
    font-size: 15px;
}
.Responsive{
    font-size: 15px;
}
.location {
    font-size: 55px!important;
    color: #c50013;
    margin-left: 15%;
}
.dk{
    margin-left: 0%!important;
}
.phn{
    font-size: 55px!important;
    color: #28944a;
    margin-left: 45%;

}
.phns{
    margin-left: 25%!important;

}
.mail{
    font-size: 55px!important;
    color: white;
    margin-left: 50%;
}
.mails{
    margin-left: 20%!important;
}
#hello{
    background-color: black;
}
#form{

    min-height: 200px;

}
.msg{
    background:transparent;

}
a.text-light:focus, a.text-light:hover {
    color: #000000!important;
}

